* {
    box-sizing: border-box;
 }

body {
  font-family: Georgia, Arial, sans-serif;
  font-size: 18px;
  background-color: #333333
} 

.cv {
    max-width: 1024px;
    margin: 0 auto;
    border-right: 4px solid rgb(201, 201, 201);
    border-left: 4px solid rgb(201, 201, 201);
    background-color: white;
}

/* navigation bar */

.header {
   display: flex;
   background-color: rgb(201, 201, 201);
   justify-content: flex-end;

}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 16px;
}

.nav-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

li.nav-item {
    border-right: 1px solid aliceblue;
}

.nav-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

/* main */

div.avatar {
    display: inline-block;
    float: left;
    width: 40%;
    height: 276px;
    margin-top: 24px;
    padding-left: 44px;
}

div.container-profile {
    display: inline-block;
    width: 40%;
    height: 276px;
    padding: 0;
    margin-top: 24px;
    margin-left: 30px;
}

div.profile {
    text-align: center;
}

.title {
    margin: 0 auto;
    padding-top: 100px;
    line-height: 36px;
}

.title {
    display: block;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    font-weight: 600;
}

.divider {
    display: inline-block;
    width: 200px;
    height: 3px;
    background-color: rgb(201, 201, 201);
    border-radius: 16px;
}


p.occupation {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    padding-top: 18px;
}

section h2 {
    clear: left;
}

.about-me {
    display: inline-block;
    width: 60%;
    height: 180px;
    float: left;
    margin-top: 16px;
    margin-bottom: 28px;
    padding-right: 28px;
    line-height: 28px;
}

.about-me p {
    margin-left: 44px;
}

.contacts {
    display: inline-block;
    width: 40%;
    float: left;
    height: 180px;
    margin-top: 16px;
}

.section-title {
    display: inline-block;
    font-size: 24px;
    color: rgb(201, 201, 201);
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 44px;
    margin-top: 20px;
    border-bottom: 2px solid rgb(201, 201, 201);
}

.list {
    line-height: 18px;
    margin-left: 82px;
}

.hard-skills {
    display: inline-block;
    width: 50%;
    float: left;
    height: 236px;
}

.code-example {
    display: inline-block;
    width: 40%;
    height: 236px;
}

.code {
    background-color: rgb(201, 201, 201);
    width: 60%;
    margin-left: 44px;
    border-radius: 8px;
    height: 100px;
}

.code-example p {
    margin-top: 12px;
    padding: 16px 8px 8px 16px;
}

.courses {
    display: inline-block;
    width: 40%;
    float: left;
    height: 200px;
}

.languages {
    display: inline-block;
    width: 60%;
    height: 200px;
}


.list li {
    list-style: none;
    padding-top: 12px;
    color: #333333;
    margin-left: -40px;
}

/* footer */

footer {
    background-color: rgb(201, 201, 201);
    height: 80px;
     
}

ul.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aliceblue;
}

.footer-link {
    text-decoration: none;
    color: aliceblue;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 32px;
}

.footer-link:hover {
    transition: .3s;
    cursor: pointer;
}
